nav{
    position: relative;
}
.pages{
    position: absolute;
    top: -30px; 
    text-align: right;
    right:0px;
    padding-top: 25px;
    padding-right: 15px;
}
body{
    background-color: white;
}
header, footer, #main-content{
    font-family:sans-serif;
}
#main-content{
    margin-right: 5%;
    margin-left: 5%;
}

h1{
    color: #FFCB05;
    text-align:center;

}
footer p{
    color:white;
    text-align: center;
}
footer{
    background-color: #00274C;
    padding-top: 3%;
    padding-bottom: 3%;
}
nav li{
    display: block;
    padding-right:0px;
}
nav a:hover{
    text-decoration: underline;
  }
header{
    padding-top: 5%;
    background-color: #00274C;
}
#pages{
    position: absolute;
     top: -40px;
     margin-bottom: 0px;
}
.skip{
    position: absolute;
    top: -40px;
}
.skip a:focus{
    position: absolute;
    top: 20px;
    background-color: #FFCB05;
    color:#00274C;
        
}
#title{
color: #FFCB05;
text-align: center;
margin-right: 20%;
margin-left: 20%;
padding-bottom: 10%;
}


h2, h3{
    text-align: center;
    color:#00274C;
}

header img{
    padding-top: 5%;
}
figcaption{
    text-align: center;
}
footer a:visited, header a:visited, a {
    color: #FFCB05;            
}
main a:visited, main a{
    color: #00274C;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
}
.container, .container_2, .container_3, .container_4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    border-color: #00274C;
}

#physical, #mental, #life-outside-classroom, #welcome, footer, #offerings, #works, #counselling, #scholarships, #appointment, #study,#union, #ugli, #fish{
    grid-column: 1/4;
}
#logo{
    top:0px;
    padding-top:8px;
    position: absolute;
}
#uhs, #backpack {
    grid-column: 1 / 4;
}

body img {
    margin: auto;
    display: block;
    max-width: 100%;
}

